{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}
	Liste des monnaie
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 align-items-center">
				<a class="btn" href="index.php?
																																																																																																																																							page=addCurrency">add</a>
				<h1 class="text-center text-primary fw-bold m-2">Liste des monnaie</h1>
				{% for currency in currencys %}
					{{currency.id}}
					{{currency.name}}<a href="index.php?page=updateCurrency&id={{currency.id}}">
						<i class="bi bi-pen-fill"></i>
					</a>
					<a href="index.php?page=deleteCurrency&id={{currency.id}}">
						<i class="bi bi-trash2-fill"></i>
					</a><br/>
					{% endfor%}
				</div>
			</div>
		</div>
	{% endblock %}
